:root {
    font-family: sans-serif;
}

body {
    background-color: #2cbfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edit-container,
.form-container{ 
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px;
    padding: 30px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 2px;
    border-width: 3px;
}
.form-container {
    border: 3px solid goldenrod;   
}
.edit-container {
    border: 3px solid darkslateblue;
}

#newBook,
#addBook,
#resetButton,
#submitEdit,
#deleteBook {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 2px;
    background-color: #86b6e3;
    border-width: 5px;
    border-color: black;
}

#newBook:hover,
#addBook:hover,
#resetButton:hover,
#submitEdit:hover,
#deleteBook:hover {
    border-color: rgb(0, 192, 0);
    background-color: #8697e3;
}

input[type=text],
#pages {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} 

input[type=checkbox]{
    width: 30px;
}

.library-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.bookStyle {
    background-color: antiquewhite;
    display: flex;
    max-width:250px;
    flex-direction: column;
    width: 40%;
    padding: 5px;
    border: 7px solid rgb(61, 61, 131);
    margin: 3px;
    border-radius: 20px;
}

.removeButtonStyle {
    color: red;
    width: 50%;
    border-width: 3px;
}

.removeButtonStyle:hover {
    border-color: red;
    border-width: 3px;
}

.readButtonStyle {
    color: blue;
    width: 50%;
    border-width: 3px;
}

.readButtonStyle:hover {
    border-color: #3bfdcb;
    border-width: 3px;
}

.title {
    color: rgb(62, 62, 62);
}

#message {
    font-weight: bold;
    color: rgb(17, 0, 0);
    font-size: 20px;
    height: 30px;
}

.editButtonStyle {
    color: rgb(40, 67, 154);
    width: 50%;
    border-width: 3px;
}

.editButtonStyle:hover {
    border-color: rgb(255, 115, 0);
    border-width: 3px;
}

.readButtonStyle,
.removeButtonStyle,
.editButtonStyle {
    margin: 1px;
    align-self: center;
}
