:root {
    font-family: sans-serif;
}


body {
    background-color: #2cbfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    width: 300px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 2px;
    border-color: goldenrod;
    border-width: 3px;
    
}
#newBook,
#addBook,
#resetButton {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 2px;
    background-color: #86b6e3;
    border-width: 5px;
    border-color: black;
}

#newBook {
   
}

input[type=text],
#pages {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} 


input[type=checkbox]{
    width: 30px;
}

.library-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.bookStyle {
    background-color: antiquewhite;
    display: flex;
    max-width:250px;
    flex-direction: column;
    width: 40%;
    padding: 5px;
    border: 7px solid rgb(61, 61, 131);
    margin: 3px;
    border-radius: 20px;
}

.removeButtonStyle {
    color: red;
    width: 50%;
}

.readButtonStyle {
    color: blue;
    width: 50%;
}

.title {
    color: rgb(62, 62, 62);
}

#message {
    font-weight: bold;
    color: red;
    font-size: 20px;
    height: 30px;
}